<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        {{#link-to "app.dashboard" class="nav-link"}}
          {{fa-icon 'dashboard'}} Dashboard
        {{/link-to}}
      </li>

      <li class="nav-title">Geral</li>

      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle">
          {{fa-icon 'users'}} Clientes
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            {{#link-to "app.customers.index" class="nav-link"}}
              {{fa-icon 'list'}} Listar
            {{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to "app.customers.new" class="nav-link"}}
              {{fa-icon 'plus'}} Cadastrar
            {{/link-to}}
          </li>
        </ul>
      </li>
      
       <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle">
          {{fa-icon 'handshake-o'}} Recepcionistas
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            {{#link-to "app.receptionists.index" class="nav-link"}}
              {{fa-icon 'list'}} Listar
            {{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to "app.receptionists.new" class="nav-link"}}
              {{fa-icon 'plus'}} Cadastrar
            {{/link-to}}
          </li>
        </ul>
      </li>

      <li class="nav-title">Configurações</li>

      <li class="nav-item">
        <a class="nav-link">
          {{fa-icon 'gear'}} Minha Conta
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" {{action (route-action "logout")}}>
          {{fa-icon 'sign-out'}} Logout
        </a>
      </li>


    </ul>
  </nav>
</div>