{{#form-for accommodation as |f|}}
  <div class="row">
    <div class="col-md-6">
      {{f.text-field "name" label="Nome" required=true}}
    </div>

    <div class="col-md-6">
      {{f.select-field "type"
                        promptIsSelectable=false
                        includeBlank=true
                        options=accommodation.typeSelect
                        optionTargetPath="id"
                        optionLabelPath="label"
                        prompt="Escolha um Tipo"
                        label="Tipo de Acomodação" required=true}}
    </div>

    <div class="col-md-6">
      {{f.text-field "dailyPrice" label="Preço da Diária" required=true}}
    </div>

    <div class="col-md-6">
      {{f.text-field "numberOfBeds" label="Número de Camas" required=true}}
    </div>

  </div>

  <button class="btn btn-primary" {{ action "submit" accommodation }}>
    {{ if model.isNew "Cadastrar Acomodação" "Editar Acomodação" }}
  </button>
  {{#link-to "app.accommodations" class="btn btn-secondary"}}
    Cancelar
  {{/link-to}}

{{/form-for}}

<!-- Events -->
{{input-mask-settings}}