{{#form-for customer as |f|}}
  <div class="row">
    <div class="col-md-12">
      {{f.text-field "email" label="E-mail" placeholder="Ex.: cosmos@exemplo.com" required=true}}
    </div>

    <div class="col-md-6">
      {{f.text-field "name" label="Nome" placeholder="Ex.: João" required=true}}
    </div>

    <div class="col-md-6">
      {{f.text-field "cpfNumber" inputClasses="cpf-mask" label="CPF" placeholder="Ex.: 123.123.123-12 (auto-formatado)" required=true}}
    </div>
  </div>

  {{#card-block cardClass="card-accent-primary" as |card|}}
    {{#card.header}}
      {{fa-icon "map-pin"}}<strong>Endereço</strong>
    {{/card.header}}
    {{#card.body}}
      {{#fields-for address as |fa|}}
        <div class="row">
          <div class="col-md-6">
            {{#fa.custom-field "zipCode" label="CEP" inputClasses="zip-code-mask" as |ff|}}
              {{ff.label required=true}}
              <div class="input-group">
                {{ff.control placeholder="Ex.: (12) 91234-1234" }}
                <span class="input-group-btn">
                    <button class="btn btn-success" {{action "fillAddressByZipCode" address}} type="button">
                      {{fa-icon 'search'}} Pesquisar
                    </button>
                  </span>
              </div>
              {{ff.errors}}
            {{/fa.custom-field}}
          </div>
          <div class="col-md-6">
            {{fa.text-field "street" required=true label="Logradouro" placeholder="Ex.: R. Maria" }}
          </div>
          <div class="col-md-3">
            {{fa.text-field "number" required=true label="Número" placeholder="Ex.: 100" }}
          </div>
          <div class="col-md-3">
            {{fa.text-field "complement" label="Complemento" placeholder="Ex.: Fundos" }}
          </div>
          <div class="col-md-6">
            {{fa.text-field "neighborhood" required=true label="Bairro" placeholder="Ex.: Jd. Alves" }}
          </div>
          <div class="col-md-6">
            {{fa.text-field "city" required=true label="Cidade" placeholder="Ex.: São José dos Campos" }}
          </div>
          <div class="col-md-6">
            {{fa.select-field "state"
                              promptIsSelectable=false
                              includeBlank=true
                              options=address.stateSelect
                              optionTargetPath="id"
                              optionLabelPath="label"
                              prompt="Escolha um Estado"
                              label="Estado" required=true}}
          </div>
        </div>
      {{/fields-for}}
    {{/card.body}}
  {{/card-block}}

  {{#card-block cardClass="card-accent-primary" as |card|}}
    {{#card.header}}
      {{fa-icon "phone"}}<strong>Telefones</strong>
      <div class="card-actions">
        <a {{action "addPhone" model}}>{{fa-icon "plus"}}</a>
      </div>
    {{/card.header}}
    {{#card.body}}
      {{#each phones as |phone i|}}
        {{#fields-for phone as |fa|}}
          {{#unless phone._content.isDeleted}}
            <div class="row">
              <div class="col-md-6">
                {{#fa.custom-field "number" label="Número do Telefone/Celular" inputClasses="phone-mask" as |ff|}}
                  {{ff.label required=true}}
                  <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-danger" disabled={{model.isPhonesRemovable}} {{action "removePhone" customer phone}} type="button">
                      <i class="icon icon-minus"></i> Remover
                    </button>
                  </span>
                    {{ff.control placeholder="Ex.: (12) 91234-1234"  data-inputmask="'alias': 'phoneAlias'" }}
                  </div>
                  {{ff.errors}}
                {{/fa.custom-field}}
              </div>

              <div class="col-md-6">
                {{fa.select-field "type"
                                  promptIsSelectable=false
                                  includeBlank=true
                                  options=phone.typeSelect
                                  optionTargetPath="id"
                                  optionLabelPath="label"
                                  prompt="Escolha um Tipo"
                                  label="Tipo" required=true}}

              </div>
            </div>
          {{/unless}}
        {{/fields-for}}
      {{/each}}
    {{/card.body}}
  {{/card-block}}

  <div class="row">
    <div class="col-md-12">
      {{f.textarea-field "notes" label="Anotações" placeholder="Digite quaisquer anotações pertinentes ao cliente"}}
    </div>
  </div>

  <button class="btn btn-primary" {{ action "submit" customer }}>
    {{ if model.isNew "Cadastrar Cliente" "Editar Cliente" }}
  </button>
  {{#link-to "app.customers" class="btn btn-secondary"}}
    Cancelar
  {{/link-to}}

{{/form-for}}

<!-- Events -->
{{input-mask-settings}}