<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">☰</button>
  {{#link-to 'app.dashboard' class="navbar-brand"}}{{/link-to}}
  <button class="navbar-toggler sidebar-minimizer d-md-down-none" type="button">☰</button>

  <ul class="nav navbar-nav d-md-down-none"></ul>
  <ul class="nav navbar-nav ml-auto"></ul>
  <button class="navbar-toggler aside-menu-toggler" type="button">☰</button>
</header>

<div class="app-body">
  {{coreui-layout/sidebar}}

  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    {{bread-crumbs tagName="ol" crumbClass="breadcrumb-item" linkable=true}}
    <!-- Container -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          {{#each flashMessages.queue as |flash|}}
            {{flash-message flash=flash}}
          {{/each}}
          {{outlet}}
        </div>
      </div>
    </div>
  </main>
</div>

{{coreui-layout/footer}}

{{coreui-layout/events}}