<div class="app flex-row align-items-center auth-background">
  <div class="container">
    <div class="row justify-content-center">
      <img src="/assets/images/utils/cosmos-hotel-logo-white.png" class="auth-logo"/>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12">
            {{#each flashMessages.queue as |flash|}}
              {{flash-message flash=flash}}
            {{/each}}
            {{outlet}}
          </div>
        </div>

        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-body">
              <p class="lead">Seja bem-vindo!</p>
              <form {{action 'authenticate' on='submit'}}>
                <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="icon-user"></i>
                                </span>
                  {{input id='identification' class="form-control" placeholder='Digite seu login' value=identification}}
                </div>
                <div class="input-group mb-4">
                                <span class="input-group-addon"><i class="icon-lock"></i>
                                </span>
                  {{input id='password' class="form-control" placeholder='Digite sua senha' type='password'
                          value=password}}
                </div>

                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-danger px-5">Login</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>