{{#main-block title="Listar"}}
<table class="table table-bordered table-striped">
   <thead>
     <tr>
       <th>Nome</th>
       <th>Anotações</th>
       <th>Editar</th>
       <th>Endereço</th>
       <th>Excluir</th>
     </tr>
   </thead>
   <tbody>
     {{#each model as |customer|}}
       <tr>
         <td>{{#link-to "app.customers.show" customer}}{{customer.name}}{{/link-to}}</td>
         <td>{{customer.notes}}</td>
         <td>
           {{#link-to "app.customers.edit" customer}}Editar{{/link-to}}
         </td>
         <td>
           {{#each customer.address as |address|}}
             {{address.street}}
           {{/each}}
         </td>
         <td>
           <button {{action 'destroy' customer}}>Delete <strong>{{customer.name}}</strong></button>
         </td>
       </tr>
     {{/each}}
   </tbody>
 </table>
{{/main-block}}
