{{#main-block title=(concat 'Cliente: ' model.name)}}
	<p>ID: {{model.id}}</p>
	<p>Nome: {{model.name}}</p>
	<p>Anotações: {{model.notes}}</p>
  <p>CPF Number: {{model.cpf_number}}</p>

  {{#each model.address as |address|}}
      <p>Rua: {{address.street}}</p>
      <p>Número: {{address.number}}</p>
      <p>Bairro: {{address.neighborhood}}</p>
      <p>CEP: {{address.zip_code}}</p>
      <p>Cidade: {{address.city}}</p>
      <p>Estado: {{address.state}}</p>
      <p>País: {{address.country}}</p>
  {{/each}}


{{/main-block}}
