{{#card-block cardClass="" as |card|}}
  {{#card.header}}
    {{fa-icon "user"}}Recepcionista: {{model.userName}}
  {{/card.header}}

  {{#card.body}}
    <!-- Customer -->
    <div class="row">
      <div class="col-md-12">
        <p class="lead">{{fa-icon "user" class="text-danger"}} Cliente</p>
        <table class="table table-responsive table-bordered table-show table-condensed">
          <tbody>
          <tr>
            <th>{{fa-icon "user"}} Usuário:</th>
            <td>{{model.userName}}</td>
            <th>{{fa-icon "envelope"}} E-mail:</th>
            <td>{{model.email}}</td>
            <th>{{fa-icon "user"}} Nome:</th>
            <td>{{model.name}}</td>
          </tr>
          <tr>
            <th>{{fa-icon "calendar-plus-o"}} Criado em:</th>
            <td>{{model.createdAt}}</td>
            <th>{{fa-icon "calendar-check-o"}} Atualizado em:</th>
            <td>{{model.updatedAt}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  {{/card.body}}

  {{#card.footer}}
    {{#link-to "app.receptionists.edit" model class="btn btn-primary"}}
      Editar
    {{/link-to}}

    {{#link-to "app.receptionists" class="btn btn-secondary"}}
      Cancelar
    {{/link-to}}
  {{/card.footer}}
{{/card-block}}
